@import "tailwindcss";
/* body{
    width : "100vw";
    height: "100vh";
    overflow: hidden;
} */

:root{
    --bg : white;
    --text : black
}

body{
    background-color: var(--bg);
    color: var(--text);
}
*{
    scrollbar-width: none;
}
